body {
}
.newsGrid {
  width: 90vw;
  margin-left: 5vw;
  display: grid;
  gap: 2rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}
.news__container {
  background-color: white;
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
  max-height: 200px;
  border: solid 1px rebeccapurple;
  border-bottom: solid 15px rebeccapurple;
  font-family: 'Times New Roman', Times, serif;
}
.image {
  width: 100%;
}
